/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

@import "shared/mixins";

$twitch-purple: rgb(100, 65, 165);

 html, body, .login, .login .row {
     height: 100%;
 }

.login {
    background: darken($twitch-purple, 10);

    .twitch-login {
        background: $twitch-purple;
        border-color: darken($twitch-purple, 15);
        @include box-shadow(0, 5px, 3px, darken($twitch-purple, 15));

        &:hover {
            background: darken($twitch-purple, 2);
        }

        .twitch-logo {
            margin-right: 20px;
        }
    }
}